<?xml version="1.0"?>
<!--
  Top-level robot description for Gazebo simulation.
  Combines the arm kinematics with the ros2_control hardware interface
  and the Gazebo Classic plugin.

  To switch to real hardware:
    - Change the plugin in arctos.ros2_control.xacro to arctos_interface/ArctosInterface
    - Remove the <gazebo> plugin block below
-->
<robot name="arctos" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="initial_positions_file"
    default="$(find arctos_description)/config/initial_positions.yaml"/>
  <xacro:arg name="ros2_controllers_file"
    default="$(find arctos_gazebo)/config/ros2_controllers.yaml"/>

  <!-- Robot kinematics, links, joints, and gripper -->
  <xacro:include filename="$(find arctos_description)/urdf/arctos.xacro"/>

  <!-- ROS 2 control hardware interface (Gazebo plugin) -->
  <xacro:include filename="$(find arctos_description)/urdf/arctos.ros2_control.xacro"/>
  <xacro:arctos_ros2_control
    name="arctos_hardware"
    initial_positions_file="$(arg initial_positions_file)"/>

  <!-- Gazebo Classic ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(arg ros2_controllers_file)</parameters>
    </plugin>
  </gazebo>

</robot>
